<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>ENGI 1006 Assignments:<p>
    <p>Homework One: Manipulate Lists<p>
    <p>Homework Two: Science Simulation & Machine Learning<p>
    <p>Homework Three: Percolation & Machine Learning<p>
    <p>Homework Four: Classes and Inheritance<p>
    <p>Midterm: Manipulate Photos<p>
    <p>Homework Five: Machine Learning<p>
    <p>Favorite assignment: Midterm, I was able to see the code behind photo manipulation.<p>
    </body>
</html>
